<template>
  <div>
    <div class="container w-full m-2">
      <div class="bg-white shadow-md rounded-lg border-2 w-full p-4">
        <h1 class="text-left text-2xl font-bold mb-4">Create a new Job</h1>
        <div>
          <label>Title</label>
          <input type="text" class="border" :value="job.title" />
        </div>

        <div>
          <label>Details</label>
          <textarea type="text" class="border" :value="job.details" />
        </div>
        <h1 class="text-left text-2xl font-bold mb-4">Candidate Form</h1>
        
         <div v-for="(f, i) in  JSON.parse(job.fields)" :key="i">
          <!-- ***************************************************** -->
          <div v-if="f.type=='text' && f.required===true">
            <label>
              {{f.label}}
              <span>*</span>
            </label>
            <div>
              <input type="text" :placeholder="f.placeholder" class="border" required />
            </div>
          </div>
          <div v-if="f.type=='text' && f.required===false">
            <label>{{f.label}}</label>
            <div>
              <input type="text" :placeholder="f.placeholder" class="border" />
            </div>
          </div>
          <!-- ***************************************************** -->
          <div v-if="f.type=='select' && f.required===true">
            <label>
              {{f.label}}
              <span>*</span>
            </label>
            <div>
              <select class="form-select" required>
                <option value disabled selected hidden>Please select one</option>
                <option v-for="(o,key) in f.options" :key="key">{{o}}</option>
              </select>
            </div>
          </div>

          <div v-if="f.type=='select' && f.required===false">
            <label>{{f.label}}</label>
            <div>
              <select class="form-select">
                <option value disabled selected hidden>Please select one</option>
                <option v-for="(o,key) in f.options" :key="key">{{o}}</option>
              </select>
            </div>
          </div>
          <!-- ***************************************************** -->
          <div v-if="f.type=='checkbox' && f.required===true">
            <label>
              {{f.label}}
              <span>*</span>
            </label>

            <div v-for="(o,key) in f.options" :key="key">
              <label :for="o">
                <input type="checkbox" class="form-checkbox" :name="o" :value="o" />
                {{o}}
              </label>
            </div>
          </div>
          <div v-if="f.type=='checkbox' && f.required===false">
            <label>{{f.label}}</label>

            <div v-for="(o,key) in f.options" :key="key">
              <label :for="o">
                <input type="checkbox" class="form-checkbox" :name="o" :value="o" />
                {{o}}
              </label>
            </div>
          </div>
          <!-- ***************************************************** -->
          <div v-if="f.type=='radio' && f.required===true">
            <label>
              {{f.label}}
              <span>*</span>
            </label>
            <div v-for="(o,key) in f.options" :key="key">
              <label class="text-sm font-mono pl-2">
                <input type="radio" class="form-radio" :value="o" />
                {{o}}
              </label>
            </div>
          </div>

          <div v-if="f.type=='radio' && f.required===false">
            <label>{{f.label}}</label>
            <div v-for="(o,key) in f.options" :key="key">
              <label class="text-sm font-mono pl-2">
                <input type="radio" class="form-radio" :value="o" />
                {{o}}
              </label>
            </div>
          </div>
          <!-- ***************************************************** -->
          <div v-if="f.type=='file' && f.required===true">
            <label>
              {{f.label}}
              <span>*</span>
            </label>
            <div>
              <input
                type="file"
                id="avatar"
                name="avatar"
                accept="Image/*, .pdf, .doc, .docx"
                required
              />
            </div>
          </div>
          <div v-if="f.type=='file' && f.required===false">
            <label>{{f.label}}</label>
            <div>
              <input type="file" id="avatar" name="avatar" accept="Image/*, .pdf, .doc, .docx" />
            </div>
          </div>
          <!-- ***************************************************** -->
          <button class="bg-yellow-600" @click="removeInput(i)">remove</button>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ $axios, params }) {
    let response = await $axios.get(`/jobs/${params.id}`);
    let job = response.data.job;
    return {
      job
    };
  },
  data() {
    return {
      newField: {
        type: "",
        label: "",
        placeholder: "",
        required: false,
        options: []
      },
      option: "",
      h_options: "hidden",
      h_placeholder: "",
      job_data: {
        title: "",
        avatar: "",
        details: "",
        fields: [
          {
            type: "text",
            label: "First name",
            required: true,
            placeholder: ""
          },
          {
            type: "text",
            label: "Last name",
            required: true,
            placeholder: ""
          },
          {
            type: "text",
            label: "Email",
            required: true,
            placeholder: ""
          },
          {
            type: "text",
            label: "Phone",
            required: true,
            placeholder: ""
          },
          {
            type: "text",
            label: "LinkedIn",
            required: false,
            placeholder: ""
          }
        ]
      }
    };
  },
  methods: {
    onChange() {
      if (this.newField.type == "Text") {
        (this.h_placeholder = ""), (this.h_options = "hidden");
      }
      if (
        this.newField.type == "select" ||
        this.newField.type == "checkbox" ||
        this.newField.type == "radio"
      ) {
        (this.h_placeholder = "hidden"), (this.h_options = "");
      }
      if (this.newField.type == "file") {
        (this.h_placeholder = "hidden"), (this.h_options = "hidden");
      }
    },
    addOption() {
      this.newField.options.push(this.option);
    },
    removeOption(index) {
      this.newField.options.splice(index, 1);
    },
    removeInput(i) {
      JSON.parse(this.job.fields).splice(i, 1);
    },
    createInput() {
      this.job_data.fields.push({ ...this.newField });
      (this.newField.type = ""),
        (this.newField.label = ""),
        (this.newField.placeholder = ""),
        (this.newField.required = false),
        (this.newField.options = []),
        (this.option = "");
    }
  }
};
</script>

<style lang="scss" scoped>
</style>