<template>
  <div>
    <div class="min-h-screen flex flex-col">
      <div
        class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2 w-full"
      >
        <div class="bg-white shadow-md rounded-lg border-2 w-full p-4">
          <h1 class="text-center text-2xl font-bold mb-8">Login</h1>

          <form>
            <div class="py-2">
              <span class="px-1 text-sm text-black">Email</span>
              <input
                v-model="form.email"
                type="text"
                class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 shadow-md focus:bg-white focus:border-gray-600 focus:outline-none"
              />
            </div>
            <div class="py-2">
              <span class="px-1 text-sm text-black">Password</span>
              <div class="relative">
                <input
                  v-model="form.password"
                  type="text"
                  class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 shadow-md focus:bg-white focus:border-gray-600 focus:outline-none"
                />
              </div>
            </div>
          </form>

          <button
            @click="login"
            class="mt-3 text-lg font-semibold bg-gray-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-black"
          >Login</button>
          <div class="flex justify-end">
            <label class="block text-gray-500 font-bold my-4">
              <a
                href="#"
                class="cursor-pointer tracking-tighter text-black border-b-2 border-gray-200 hover:border-gray-400"
              >
                <span>Forgot Password?</span>
              </a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "",
        password: ""
      }
    };
  },
  methods: {
    login() {
      this.$axios.$post("/login", this.form).then(response => {
        console.log(response);
      });
    }
  }
};
</script>

<style lang="scss" scoped>
</style>