<template>
  <div>
    <div class="min-h-screen flex flex-col">
      <div
        class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2 w-full"
      >
        <div class="bg-white shadow-md rounded-lg border-2 w-full p-4">
          <h1 class="text-center text-2xl font-bold mb-8">Register</h1>
            <div class="py-2">
            <span class="px-1 text-sm text-black">Username</span>
            <input
              type="text"
              class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 shadow-md focus:bg-white focus:border-gray-600 focus:outline-none"
            />
          </div>
          <div class="py-2">
            <span class="px-1 text-sm text-black">Email</span>
            <input
              type="email"
              class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 shadow-md focus:bg-white focus:border-gray-600 focus:outline-none"
            />
          </div>
          <div class="py-2" x-data="{ show: true }">
            <span class="px-1 text-sm text-black">Password</span>
            <div class="relative">
              <input
                type="password"
                class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 shadow-md focus:bg-white focus:border-gray-600 focus:outline-none"
              />
            </div>
          </div>
          <div class="py-2" x-data="{ show: true }">
            <span class="px-1 text-sm text-black">Confirm Password</span>
            <div class="relative">
              <input
                type="password"
                class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 shadow-md focus:bg-white focus:border-gray-600 focus:outline-none"
              />
            </div>
          </div>
          <button
            class="mt-3 text-lg font-semibold bg-gray-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-black"
          >Register</button>
         
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>