<template>
  <div class="w-screen h-screen flex justify-start hide-scroll">
    <div class="w-full h-full md:w-1/2 flex flex-col justify-center pl-4 pr-4 hide-scroll">
      <div class="w-full h-full hide-scroll p-4">
        <div
          class="p-4 font-bold text-center text-lg w-full text-blue-600 bg-blue-200 border-l-8 border-r-8 border-blue-600 rounded-lg"
        >{{ job.title }}</div>

        <div class="text-sm p-2 font-sans" v-html="job.details"></div>
      </div>
    </div>
    <div
      class="w-1/2 h-full hidden md:flex fixed right-0 overflow-y-auto hide-scroll pl-4 pr-4 pb-4 border-l-2 border-blue-500"
    >
      <div class="w-full h-full hide-scroll p-4">
        <div
          class="p-4 font-bold text-lg w-full text-red-600 bg-red-200 border-l-8 border-r-8 border-red-600 rounded-lg"
        >Apply for This Job</div>
        <form>
          <div v-for="(field,key) in JSON.parse(job.fields)" :key="key">
            <!-- *
        **
        *** 
        ****
        Text Inputs
        ****
        ***
        **
            *-->
            <div v-if="field.type=='text' && field.required===1" class="m-1">
              <div class="text-left">
                <label class="text-sm font-bold">
                  {{field.label}}
                  <span class="required text-red-500">*</span>
                </label>
              </div>
              <div>
                <input
                  class="form-input w-full"
                  type="text"
                  :placeholder="field.placeholder"
                  v-model="candidateData[field.key]"
                  required
                />
              </div>
              <!-- <span>{{candidateData[field.key]}},{{field.key}}</span> -->
            </div>

            <div v-if="field.type=='text' && field.required===0" class="m-1">
              <div>
                <label class="text-sm font-bold">{{field.label}}</label>
              </div>
              <div>
                <input
                  class="form-input w-full"
                  type="text"
                  :placeholder="field.placeholder"
                  v-model="candidateData[field.key]"
                />
              </div>
              <!-- <span>{{candidateData[field.key]}},{{field.key}}</span> -->
            </div>
            <!-- *
        **
        ***
        ****
        Radio Inputs
        ****
        ***
        **
            *-->
            <div v-if="field.type=='radio' && field.required===1" class="p-1">
              <div>
                <label class="text-sm font-bold">
                  {{field.label}}
                  <span class="required text-red-600">*</span>
                </label>
              </div>
              <div v-for="(option,key) in field.options" :key="key">
                <label class="text-sm font-mono pl-2">
                  <input
                    type="radio"
                    class="form-radio"
                    :value="option"
                    v-model="candidateData[field.key]"
                  />
                  {{option}}
                </label>
                <!-- <span>{{candidateData[field.key]}},{{field.key}}</span> -->
              </div>
            </div>

            <div v-if="field.type=='radio' && field.required===0" class="p-1 flex">
              <div>
                <label>{{field.label}}</label>
              </div>
              <div v-for="(option,key) in field.options" :key="key">
                <label class="text-sm font-mono pl-2">
                  <input
                    type="radio"
                    class="form-radio"
                    :value="option"
                    v-model="candidateData[field.key]"
                  />
                  {{option}}
                </label>
                <!-- <span>{{candidateData[field.key]}},{{field.key}}</span> -->
              </div>
            </div>
            <!-- *
        **
        ***
        ****
        Date Inputs
        ****
        ***
        **
            *-->
            <div v-if="field.type=='date' && field.required===1" class="p-1">
              <label>
                {{field.label}}
                <span class="required">*</span>
              </label>
              <input type="date" v-model="candidateData[field.key]" required />
              <!-- <span>{{candidateData[field.key]}},{{field.key}}</span> -->
            </div>

            <div v-if="field.type=='date' && field.required===0" class="p-1">
              <p>{{field.label}}</p>
              <input type="date" v-model="candidateData[field.key]" />
              <!-- <span>{{candidateData[field.key]}},{{field.key}}</span> -->
            </div>
            <!-- *
        **
        ***
        ****
        file Inputs
        ****
        ***
        **
            *-->
            <div v-if="field.type=='file' && field.required===1" class="p-1">
              <div>
                <label for="avatar" class="text-sm font-bold">
                  {{field.label}}
                  <span class="required text-red-600">*</span>
                </label>
              </div>
              <div>
                <input
                  class="form-input w-1/2"
                  type="file"
                  id="avatar"
                  name="avatar"
                  accept="Image/*, .pdf, .doc, .docx"
                />
              </div>
            </div>

            <div v-if="field.type=='file' && field.required===0" class="p-1">
              <div>
                <label for="avatar" class="text-sm font-bold">{{field.label}}</label>
              </div>
              <div>
                <input
                  class="form-input w-1/2"
                  type="file"
                  id="avatar"
                  name="avatar"
                  accept="Image/*, .pdf, .doc, .docx"
                />
              </div>
            </div>
            <!-- *
        **
        ***
        ****
        checkbox Inputs
        ****
        ***
        **
            *-->

            <!-- <label class="text-sm font-mono pl-2">
                <input type="radio" class="form-radio" :value="option" v-model="candidateData[field.key]"/>
                {{option}}
            </label>-->

            <div v-if="field.type=='checkbox' && field.required===1" class="p-1">
              <div>
                <label class="text-sm font-bold">
                  {{field.label}}
                  <span class="required text-red-600">*</span>
                </label>
              </div>

              <div v-for="(option,key) in field.options" :key="key">
                <label class="text-sm font-mono pl-2" :for="option">
                  <input
                    type="checkbox"
                    class="form-checkbox mr-2"
                    :name="option"
                    :value="option"
                    v-model="options"
                    :v-bind="candidateData[field.key]=options"
                  />
                  {{option}}
                </label>
                <!-- <span>{{options}},{{field.key}}</span> -->
              </div>
            </div>

            <div v-if="field.type=='checkbox' && field.required===0" class="p-1">
              <div>
                <label class="text-sm font-bold">{{field.label}}</label>
              </div>

              <div v-for="(option,key) in field.options" :key="key">
                <label class="text-sm font-mono pl-2" :for="option">
                  <input
                    type="checkbox"
                    class="form-checkbox mr-2"
                    :name="option"
                    :value="option"
                    v-model="options"
                    :v-bind="candidateData[field.key]=options"
                  />
                  {{option}}
                </label>
                <!-- <span>{{options}},{{field.key}}</span> -->
              </div>
            </div>
            <!-- *
        **
        ***
        ****
        select Inputs
        ****
        ***
        **
            *-->
            <div v-if="field.type=='select' && field.required===1" class="p-1">
              <div>
                <label class="text-sm font-bold">
                  {{field.label}}
                  <span class="required text-red-600">*</span>
                </label>
              </div>
              <div>
                <select class="form-select w-1/2">
                  <option value disabled selected hidden>Please select one</option>
                  <option
                    class="text-sm"
                    v-for="(option,key) in field.options"
                    :key="key"
                    :v-bind="candidateData[field.key]=option"
                  >{{option}}</option>
                </select>

                <!-- <span>{{candidateData[field.key]}},{{field.key}}</span> -->
              </div>
            </div>

            <div v-if="field.type=='select' && field.required===0" class="p-1">
              <label class="text-sm font-bold">{{field.label}}</label>
              <select class="form-select w-1/2">
                <option value disabled selected hidden>Please select one</option>
                <option
                  v-for="(option,key) in field.options"
                  :key="key"
                  v-bind:value="{option}"
                >{{option}}</option>
              </select>
            </div>
            <!-- *
        **
        ***
        ****
        select Inputs
        ****
        ***
        **
            *-->
            <div v-if="field.type=='textarea' && field.required===1" class="p-1">
              <label>
                {{field.label}}
                <span class="required">*</span>
              </label>
              <input type="textarea" required />
            </div>

            <div v-if="field.type=='textarea' && field.required===0" class="p-1">
              <label>{{field.label}}</label>
              <textarea></textarea>
            </div>
          </div>

          <div class="btn-block p-1">
            <button
              class="bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded"
              @click="sendForm"
              type="submit"
              href
            >Submit Application</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ $axios, params }) {
    let response = await $axios.get(`/jobs/${params.id}`);
    let job = response.data.job;
    return {
      job
    };
  },
  data() {
    return {
      options: [],
      candidateData: []
    };
  },
  methods: {
    sendForm() {
      console.log(this.$route.params.id);
      console.log(this.candidateData);
    }
  }
};
</script>

<style lang="scss" scoped>
</style>