<template>
  <div>
    <div class="container w-full m-2">
      <div class="bg-white shadow-md rounded-lg border-2 w-full p-4">
        <h1 class="text-left text-2xl font-bold mb-4">Create a new Job</h1>
        <div>
          <label>Title</label>
          <input type="text" class="border" v-model="job_data.title" />
        </div>

        <div>
          <label>Avatar</label>
          <input type="text" class="border" v-model="job_data.avatar" />
        </div>

        <div>
          <label>Details</label>
          <textarea type="text" class="border" v-model="job_data.details" />
        </div>
        <h1 class="text-left text-2xl font-bold mb-4">Candidate Form</h1>
        <!-- 
        <div>
          <label>First name</label>
          <span>*</span>
          <input type="text" class="border" required />
        </div>
        <div>
          <label>Last name</label>
          <span>*</span>
          <input type="text" class="border" required />
        </div>
        <div>
          <label>Email</label>
          <span>*</span>
          <input type="text" class="border" required />
        </div>
        <div>
          <label>Phone</label>
          <span>*</span>
          <input type="text" class="border" required />
        </div>
        <div>
          <label>LinkedIn</label>
          <input type="text" class="border" required />
        </div>-->

        <div v-for="(f, i) in job_data.fields" :key="i">
          <!-- ***************************************************** -->
          <div v-if="f.type=='text' && f.required===true">
            <label>
              {{f.label}}
              <span>*</span>
            </label>
            <div>
              <input type="text" :placeholder="f.placeholder" class="border" required />
            </div>
          </div>
          <div v-if="f.type=='text' && f.required===false">
            <label>{{f.label}}</label>
            <div>
              <input type="text" :placeholder="f.placeholder" class="border" />
            </div>
          </div>
          <!-- ***************************************************** -->
          <div v-if="f.type=='select' && f.required===true">
            <label>
              {{f.label}}
              <span>*</span>
            </label>
            <div>
              <select class="form-select" required>
                <option value disabled selected hidden>Please select one</option>
                <option v-for="(o,key) in f.options" :key="key">{{o}}</option>
              </select>
            </div>
          </div>

          <div v-if="f.type=='select' && f.required===false">
            <label>{{f.label}}</label>
            <div>
              <select class="form-select" required>
                <option value disabled selected hidden>Please select one</option>
                <option v-for="(o,key) in f.options" :key="key">{{o}}</option>
              </select>
            </div>
          </div>
          <!-- ***************************************************** -->
          <div v-if="f.type=='multiCheckbox' && f.required===true">
            <label>
              {{f.label}}
              <span>*</span>
            </label>

            <div v-for="(o,key) in f.options" :key="key">
              <label :for="o">
                <input type="checkbox" class="form-checkbox" :name="o" :value="o" />
                {{o}}
              </label>
            </div>
          </div>
          <div v-if="f.type=='multiCheckbox' && f.required===false">
            <label>{{f.label}}</label>

            <div v-for="(o,key) in f.options" :key="key">
              <label :for="o">
                <input type="checkbox" class="form-checkbox" :name="o" :value="o" />
                {{o}}
              </label>
            </div>
          </div>
          <!-- ***************************************************** -->
          <div v-if="f.type=='radio' && f.required===true">
            <label>
              {{f.label}}
              <span>*</span>
            </label>
            <div v-for="(o,key) in f.options" :key="key">
              <label class="text-sm font-mono pl-2">
                <input type="radio" class="form-radio" :value="o" />
                {{o}}
              </label>
            </div>
          </div>

          <div v-if="f.type=='radio' && f.required===false">
            <label>{{f.label}}</label>
            <div v-for="(o,key) in f.options" :key="key">
              <label class="text-sm font-mono pl-2">
                <input type="radio" class="form-radio" :value="o" />
                {{o}}
              </label>
            </div>
          </div>
          <!-- ***************************************************** -->
          <div v-if="f.type=='file' && f.required===true">
            <label>
              {{f.label}}
              <span>*</span>
            </label>
            <div>
              <input
                type="file"
                id="avatar"
                name="avatar"
                accept="Image/*, .pdf, .doc, .docx"
                required
              />
            </div>
          </div>
          <div v-if="f.type=='file' && f.required===false">
            <label>{{f.label}}</label>
            <div>
              <input type="file" id="avatar" name="avatar" accept="Image/*, .pdf, .doc, .docx" />
            </div>
          </div>
          <!-- ***************************************************** -->
          <button class="bg-yellow-600" @click="removeInput(i)">remove</button>
        </div>

        <span>Add new input</span>
        <div class="bg-red-300">
          <!-- ****************************************************************************************************************** -->
          <div>
            <div>
              <span>Label</span>
              <div>
                <input type="text" v-model="newField.label" />
              </div>
            </div>

            <span>Type</span>
            <div>
              <select v-model="newField.type" @change="onChange">
                <option selected>text</option>
                <option>select</option>
                <option>multiCheckbox</option>
                <option>radio</option>
                <option>file</option>
              </select>
            </div>
          </div>

          <div v-if="h_placeholder !='hidden'">
            <div>
              <span>placeholder</span>
              <div>
                <input type="text" v-model="newField.placeholder" />
              </div>
            </div>
          </div>

          <div v-if="h_options !='hidden'">
            <div v-for="(item, index) in newField.options" :key="index">
              <label>{{item}}</label>
              <button class="bg-red-600" @click="removeOption(index)">remove</button>
            </div>
            <div>
              <span>options</span>
              <div>
                <input type="text" v-model="option" />
                <button class="bg-green-600" @click="addOption">Add</button>
              </div>
            </div>
          </div>

          <div>
            <span>Required</span>
            <input type="checkbox" v-model="newField.required" />
          </div>

          <button class="bg-blue-600" @click="createInput">Add</button>

          <!-- ****************************************************************************************************************** -->
        </div>
      </div>
      <button class="bg-green-700" @click="store">Add Job</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newField: {
        type: "",
        label: "",
        placeholder: "",
        required: false,
        options: []
      },
      option: "",
      h_options: "hidden",
      h_placeholder: "",
      job_data: {
        title: "",
        avatar: "",
        details: "",
        fields: [
          {
            type: "text",
            label: "First name",
            required: true,
            placeholder: ""
          },
          {
            type: "text",
            label: "Last name",
            required: true,
            placeholder: ""
          },
          {
            type: "text",
            label: "Email",
            required: true,
            placeholder: ""
          },
          {
            type: "text",
            label: "Phone",
            required: true,
            placeholder: ""
          },
          {
            type: "text",
            label: "LinkedIn",
            required: false,
            placeholder: ""
          }
        ]
      }
    };
  },
  methods: {
    onChange() {
      if (this.newField.type == "Text") {
        (this.h_placeholder = ""), (this.h_options = "hidden");
      }
      if (
        this.newField.type == "select" ||
        this.newField.type == "multiCheckbox" ||
        this.newField.type == "radio"
      ) {
        (this.h_placeholder = "hidden"), (this.h_options = "");
      }
      if (this.newField.type == "file") {
        (this.h_placeholder = "hidden"), (this.h_options = "hidden");
      }
    },
    addOption() {
      this.newField.options.push(this.option);
       (this.option = "");
    },
    removeOption(index) {
      this.newField.options.splice(index, 1);
    },
    removeInput(i) {
      this.job_data.fields.splice(i, 1);
    },
    createInput() {
      this.job_data.fields.push({ ...this.newField });
      (this.newField.type = ""),
        (this.newField.label = ""),
        (this.newField.placeholder = ""),
        (this.newField.required = false),
        (this.newField.options = []),
        (this.option = "");
    },
    store(){
      
    }
  }
};
</script>

<style lang="scss" scoped>
</style>