<template>
  <div>
    <div class="p-4 flex"></div>

    <h1 class="m-4">Jobs</h1>
    <div class="p-4 m-4 flex justify-start">
      <table>
        <tbody>
          <tr class="border-b">
            <th>Title</th>
            <th>Actions</th>
          </tr>
          <tr v-for="job in jobs" :key="job.id" class="border-b">
            <td class="p-3 px-5">
              <label>{{ job.title }}</label>
            </td>

            <td class=" flex justify-start">
               <nuxt-link :to="`/jobs/edit/${job.id}`"><button type="button" class="bg-green-500">Edit</button></nuxt-link>
              <button type="button" class="bg-red-500">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="m-20 bg-blue-100">
      <div class="p-4 flex flex-wrap overflow-hidden w-full justify-between">
        <div v-for="job in jobs" :key="job.id">
          <div class="w-64 h-1/2 m-2 p-1 rounded overflow-hidden border border-yellow-300 bg-white">
            <img class="w-full h-56 border-b border-yellow-300" :src="job.image" />
            <div>
              <div class="font-bold text-base m-2 text-center">{{job.title}}</div>
            </div>
            <div class="m-1">
              <nuxt-link :to="`/jobs/edit`"><button>
                <nuxt-link :to="`/jobs/${job.id}`"><button>
                  <span class="bg-green-600">Edit</span>
                
                </button>
              </nuxt-link>
              <button>
                <nuxt-link :to="`/jobs/${job.id}`"><button>
                  <span class="bg-red-600">Delete</span>
                
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</template>

<script>
export default {
  async asyncData({ $axios }) {
    let response = await $axios.get("/jobs");
    let jobs = response.data.jobs;
    return {
      jobs
    };
  },
  computed: {
    job() {
      return this.jobs.find(job => job.id == this.$route.params.id);
    }
  }
};
</script>

<style>
</style>